<p>Hey {{ name }},</p>
<p>Please enter the code below on the application to reset your password:</p>
<p>
    <div>{{ code }}</div>
</p>

<p>If you did not request this email you can safely ignore it.</p>